
body{
    text-align: center;
    margin: 0;
    background:aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



}
.content{
    /* max-width: 360px; */
    
    border-radius: 8px;
    border-style: solid;
    /* border-width: 8px; */ 
     box-shadow: 0 10 px 20 px rgba(0,0,0, 0.19);
    padding: 20px 50px 50px 50px; 
    
   
}
input{
    padding:10px;
    border-radius: 5px;
}
input{
    font-size: large;
}
h1{
    padding-top: 10px;
}